{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@Actions": "./src/actions",
          "@Components": "./src/components",
          "@Reducers": "./src/reducers",
          "@Redux": "./src/redux",
          "@Constants": "./src/constants",
          "@Sagas": "./src/sagas",
          "@Http": "./src/http"
        }
      }
    ]
  ]
}