{
  "presets": [
    "next/babel",
    "airbnb"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components"
        }
      }
    ]
  ]
}